
<div class="row">
<div class="col-md-8 col-md-offset-1" style="text-align:center;padding-left:50px">   
<%= simple_form_for [@location, @location.comments.build] do |f| %>
  <%= f.input :content, label: "Say something about this location...", input_html: { rows: "5", id: "comment", placeholder: "Add comment...", style: "width:500px" } %>
  <%= f.button :submit, class: "btn btn-success btn-comment" %>
<% end %>

</div>

</div>




