/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-tokenfield
 */
@import "bootstrap-sprockets";
@import "bootstrap";

html,body{
    height: 100%
}

.container{
	height: 87%;

}

.btn-comment{
	margin-bottom: 25px;
}

body{
	padding-top: 50px;
	background: url('http://res.cloudinary.com/dednkvgbo/image/upload/v1448796024/pictures/m3.png');
    background-size: 100% 100%;
	h1{
		margin-top: 30px;	
		margin-bottom: 30px;
	}
}

.map_div{
   	width: 555px; height: 555px;
/*	max_width:100%!important;
	max_height:100%!important;*/

}

#map{
	width: 100%;
	height: 100%;
}

#map_small{
	/*width: 800px; height: 400px;*/
	width: 360px;
	height: 360px;
}

.tag{
	background-color: #337ab7;
	a {
		color: #ffffff;
	}
}

.navbar-brand {
	font-size:40px;
	color:white;
}

.logins{
	padding:10px;
	min-width: 250px;

	.btn{
		width: 100%;
	}
	.text{
		margin: 5px;
	}
}
nav{
	
/*	a:visited {
		color: #ffffff;
	}
	a:hover {
		color: #FF3300;
	}*/

	.search{
		.btn{
			margin-right: 55px;
		}
	}

	.dropdown-toggle{
		font-size: 18px;
		color:white;
	}
}

.thumbnail:hover {  
	background-color:black;
	color:white;
	a{
		background-color:black;
		color:white;
	}
}

.thumbnail{
	a{
		background-color:white;
		color:black;
	}
	a:hover{
	background-color:black;
	color:white;
	}

}

.all {
	background-color: #B9DEEB;
	color:#000000;
	
}

.category_caption{
	padding-top: 10px;
}

footer{
	background-color:black;
	height:100px;
	color:white;
	clear: both;

	glyphicon{
		margin-top:25px;
		font-size:25px;
		color:#2d2d30;
	}
}

.comments-likes{
	width: 100%;
	margin: 0;
	font-size:18px;
	margin: 2px

}

.pagination{
	li{
		a{
			color:black!important;	
		}
	}

	.active{
		span{
			background-color:black!important;
			color:white!important;	
			border-color: black;		
		}
	}
}

#slider1_container{
	border: 3px solid black;
}
u{

}

.location_title{
	font-size: 40px;
}

.row{
	background-color: white;
	
}

.list-group-item{
	a{
		margin:0px;

	}

}

span.glyphicon{
	margin-right: 15px;
	
}

.alert{
	margin-top: 25px;
}

.username{
	font-style: italic;
}

.comment{
	margin-top: 30px;
}

.edit_btn{
	margin: 10px;
}

#comments{
	margin-top: 30px;
}