- @locations.each do |location|
	%h2= link_to location.title, location
	%p
		= location.comments.count
		Comments
	%p
		= location.get_likes.size
		Likes

= link_to "Add New Location", new_location_path

